* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    font-family: 'Karla', sans-serif;
    /* min-width: 500px; */
}

main {
    background-color: #F5F5F5;
    height: 90%;

    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {

    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 4rem;
    margin-top: 1rem;

}


.die-face {
    padding: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.45);
    width: 80px;
    height: 80px;
    border-radius: 10%;
    transform: scale(1);
    transition: 200ms;
    align-self: center;
    text-align: center;


}

.die-face:hover {
    transform: scale(1.05);
    transition: 200ms;
}

/* Styling Dices faces */

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.second-face {
    display: flex;
    height: 100%;
    justify-content: space-between;
}


.second-face .dot:nth-of-type(2) {
    align-self: flex-end;

}

.second-face .dot:nth-of-type(3) {
    align-self: flex-start;
}

.third-face .dot:nth-of-type(1) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}


.fourth-face {
    height: 100%;
    ;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.fourth-face .dot {
    margin: 5px;
    justify-content: space-between;
}

.fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.fifth-face {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.dot {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4); */

    animation-name: wobble;
    animation-duration: .5s;
}

.counter {
    font-size: 2em;
    margin: -40px;
    padding: 0px;

}

.die-num {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 18px;
    animation-name: wobble;
    animation-duration: .5s;
}

/* Applying Animation */
.Die-shaking {
    animation-name: wobble;
    animation-duration: .5s;

}

.choseGame {
    color: white;
}

/* Setting Animation effect to the
dice using css keyframe */
@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);

    }

    0% {
        background: orange;
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        background: orange;
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        background: orange;
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        background: orange;
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        background: orange;
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);

    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


@media(max-width: 672px) {
    .dice-container {

        display: grid;
        grid-template: auto auto / repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 4rem;
        margin-top: 1rem;

    }

    /* .die-face {
        width: 50px;
        height: 50px;
    } */

    /* .dot {

        width: 5px;
        height: 5px;
    } */

    .title {
        font-size: 20px;
        margin: 0;
    }

}


/* ***************
******* TIMER *********/

.stop-watch {
    height: 20vh;
    width: 23vw;
    /* background-color: #0d0c1b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.timer {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    height: 12%;
    justify-content: center;
    align-items: center;
}

.digits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: black;
}

.mili-sec {
    color: #e42a2a;
}

.letsgo {
    margin: 3.8px;
    font-size: 1.8em
}

.btn {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    margin-right: 10px;
    transform: scale(1);
    transition-duration: 300ms
}

.btn:hover {
    transform: scale(1.05);
    transition-duration: 300ms
}

.btn:focus {
    outline: none;
}

.btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);

}

.showButton {
    background: green;
    width: 160px;
}

.app-btn {
    margin: 0px 10px 10px 0px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.tenzi {
    max-width: 600px;
    margin: auto
}


/* 
@media(max-width:900px) {

    body,
    .dice-container {
        transform: scale(.6)
    }

    .tenzi {
        width: 400px;
        height: 600px
    }
} */